{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "modules": false,
          "useBuiltIns": true
        }],
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "styled-components"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "useBuiltIns": true
        }],
        "react"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": true
          }
        }],
        "react"
      ],
      "plugins": ["jest"]
    }
  }
}
